# IDE
.idea

# env
.env
.env*.local
env/*

# dependencies
/node_modules

# next.js build output
/.next/
/out/

# sanity studio deploy output
/dist/
/.sanity/

# typescript
*.tsbuildinfo
next-env.d.ts

# os
.DS_Store
